.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
.doc-pic {
	width:150px;
}
.bottom_buffer {
	margin-bottom: 15px;
}
.search-form {
	margin-top: 20px;
}